<html>
<head>
<title>Узнай курс валют на текущий момент!</title>
</head>
<body>
<ul>
{% for currency in currencies %}
<li>{{ currency.base }} в {{ currency.target }} стоит - {{ currency.currencyentry_set.last.currency_value }}</li>
{% endfor %}
</ul>
<hr>
<form action={% url 'create-currency' %}>
{{ currencyform }}
<input type="submit" value="Добавить">
</form>
</body>
</html>